body{
    background-image:url('../images/blue-geometric-wallpaper-10.png');
    font-family: 'Roboto', Georgia, sans-serif;
}

html{
    padding: 20px;
}

body{
    background-color: #FFFFFF;
    font-family: 'Roboto', Georgia, sans-serif;
}

.buzzbot-title{
    padding-top: 0;
}

.clickable{
	cursor:pointer;
}

.hidden{
   visibility:hidden;
}

.chat-box{
	display: inline-block;
    border-radius: 8px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    position: absolute;
    background-color:#FFFFFF;
}

.chat-screen{
    width:700px;
	height:500px;
	background-color:white;
	border: 4px solid #FFEC13;
    overflow-y: scroll;
    float:left;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px;

}

.user-preview{
    height: 250px;
    width: 250px;
    background-color: #FFFFFF;
    border: 4px solid #FFEC13;
    display: block;
    float:right;
    vertical-align:top;
    margin-left: 100px;
    margin-top: 30px;
}

.chat-screen .sender{
	color:red;
    margin-right: 10px;
}

.chat-screen .sender.boto{
	color:blue;
}


.chat-input{
    font-size: 20px;
    border: 4px solid #FFEC13;
    outline: none;
}

.send-button{
    display:inline-block;
	background-color:#FFEC13;
	vertical-align: bottom;
    width: 90px;
    height: 36px;
}

.chat-send.loading{
    color: #28C0FA;
}

.orb-holder{
	text-align: center;
	 height: 200px;
    position: relative;
}

.orb{
	position: absolute;
    top: 0px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

#emoji{
	position: absolute;
    top: 0px;
    width: 130px;
    left: 51%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

.buzzbot-title{
    display: inline-block;
    font: 50px Roboto;
    color: #FFEC13;
}

.subheader{
    display: inline-block;
    font: 30px Roboto;
    color: black;
}

.main-title{
    height:30px;
    width: 500px;
    background-color: #FFEC13;
    padding: 0px;
    margin: 0px;
}

.download-button{
	background-color:#FFEC13;
    color: #000000;
    position: center;
    margin-left: 75px;
    margin-top: 100px;
}

.progress-size{
    width: 150px;
    height: 20px;
    position: center;
    margin-left: 45px;
    margin-top: 50px;
}

.progress-text{
    text-align: center;
}